@media screen and (max-width:950px) {
    main{
        width: 95%;
        margin-left: 0;
        overflow: inherit;
    }
    header{
        width: 90vw;
    }
    /* body{
        overflow: auto;
    } */
}
@media screen and (max-width:650px) {
    h1, h2, header p{
        text-align: center;
    }
    .btns{
        justify-content: center;
    }
    .avatar__group{
        justify-content: center;
    }
    header{
        margin-top: 145px;
    }
}
@media screen and (max-width:600px) {
    .card__certificate__content{
        width: 80%;
    }
}
@media screen and (max-width:585px) {
    .form>div .input__box:first-child, .form >div .input__box:nth-child(2) {
        width: 100%;
        margin: 10px;
    }
    
    .form> .flex{
        display: block;
    }
    
    .form>div .input__box:first-child input, .form>div .input__box:nth-child(2) input {
        margin-left: 10px;
    }
    .card__content {
        justify-content: center !important;
    }
    .form>div .input__box:first-child input, .form>div .input__box:nth-child(2) input {
        margin-left: 0px;
    }
    .input__box {
        margin-left: 0px;
    }
    .card__certificate{
        justify-content: center;
    }
}
@media screen and (max-width:425px) {
    .h1__header__box h1{
        font-size: 2.1rem;
    }
    .h1__header__box span{
        font-size: 2.1rem;
    }
    h2{
        font-size: 1.4rem;
    }
}